--
-- PostgreSQL database dump
--

\restrict X2j5LjIdpB6yhRmLF2mmVm2xfQr7pADgvu8d9BLOKTGXvdkrgW1WoIBUgFcC2qY

-- Dumped from database version 18.1
-- Dumped by pg_dump version 18.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: pgcrypto; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pgcrypto WITH SCHEMA public;


--
-- Name: EXTENSION pgcrypto; Type: COMMENT; Schema: -; Owner: -
--

COMMENT ON EXTENSION pgcrypto IS 'cryptographic functions';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: acudiente; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.acudiente (
    estado boolean NOT NULL,
    id_acudiente uuid,
    id_usuario uuid NOT NULL
);


--
-- Name: administrador; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.administrador (
    id_administrador uuid,
    id_usuario uuid NOT NULL
);


--
-- Name: boletin; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.boletin (
    id_boletin uuid NOT NULL,
    id_estudiante uuid NOT NULL,
    id_periodo uuid NOT NULL
);


--
-- Name: categoria_logro; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.categoria_logro (
    id_categoria uuid NOT NULL,
    nombre character varying(255) NOT NULL,
    id_grado uuid
);


--
-- Name: coordinador; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.coordinador (
    id_coordinador uuid,
    id_usuario uuid NOT NULL
);


--
-- Name: director; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.director (
    id_director uuid,
    id_usuario uuid NOT NULL
);


--
-- Name: estudiante; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.estudiante (
    id_estudiante uuid NOT NULL,
    apellido character varying(255) NOT NULL,
    estado boolean NOT NULL,
    nombre character varying(255) NOT NULL,
    numero_documento character varying(255) NOT NULL,
    id_acudiente uuid,
    id_grupo uuid,
    id_hoja_de_vida uuid
);


--
-- Name: evaluacion_categoria_logro; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.evaluacion_categoria_logro (
    id_evaluacion uuid NOT NULL,
    calificacion_logro character varying(255) NOT NULL,
    fecha_evaluacion date NOT NULL,
    id_boletin uuid,
    id_categoria uuid NOT NULL,
    id_periodo uuid NOT NULL
);


--
-- Name: grado; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.grado (
    id_grado uuid NOT NULL,
    nombre_grado character varying(255) NOT NULL
);


--
-- Name: grupo; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.grupo (
    id_grupo uuid NOT NULL,
    nombre_grupo character varying(255) NOT NULL,
    id_director_grupo uuid,
    id_grado uuid NOT NULL
);


--
-- Name: hoja_de_vida_estudiante; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.hoja_de_vida_estudiante (
    id_hoja_de_vida uuid NOT NULL,
    detalles_medicos text,
    observaciones_aprendizaje text
);


--
-- Name: logro; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.logro (
    id_logro uuid NOT NULL,
    descripcion text NOT NULL,
    id_categoria uuid NOT NULL
);


--
-- Name: periodo_academico; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.periodo_academico (
    id_periodo_academico uuid NOT NULL,
    fecha_fin date NOT NULL,
    fecha_inicio date NOT NULL
);


--
-- Name: profesor; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.profesor (
    grupo_asignado character varying(255),
    id_profesor uuid,
    id_usuario uuid NOT NULL
);


--
-- Name: token_usuario; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.token_usuario (
    id_token uuid NOT NULL,
    contrasena character varying(255) NOT NULL,
    rol character varying(255) NOT NULL
);


--
-- Name: usuario; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.usuario (
    id_usuario uuid NOT NULL,
    apellido character varying(255) NOT NULL,
    cedula character varying(10) NOT NULL,
    correo_electronico character varying(255) NOT NULL,
    fecha_nacimiento date NOT NULL,
    nombre character varying(255) NOT NULL,
    id_token uuid
);


--
-- Name: acudiente acudiente_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.acudiente
    ADD CONSTRAINT acudiente_pkey PRIMARY KEY (id_usuario);


--
-- Name: administrador administrador_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.administrador
    ADD CONSTRAINT administrador_pkey PRIMARY KEY (id_usuario);


--
-- Name: boletin boletin_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.boletin
    ADD CONSTRAINT boletin_pkey PRIMARY KEY (id_boletin);


--
-- Name: categoria_logro categoria_logro_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.categoria_logro
    ADD CONSTRAINT categoria_logro_pkey PRIMARY KEY (id_categoria);


--
-- Name: coordinador coordinador_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.coordinador
    ADD CONSTRAINT coordinador_pkey PRIMARY KEY (id_usuario);


--
-- Name: director director_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.director
    ADD CONSTRAINT director_pkey PRIMARY KEY (id_usuario);


--
-- Name: estudiante estudiante_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.estudiante
    ADD CONSTRAINT estudiante_pkey PRIMARY KEY (id_estudiante);


--
-- Name: evaluacion_categoria_logro evaluacion_categoria_logro_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.evaluacion_categoria_logro
    ADD CONSTRAINT evaluacion_categoria_logro_pkey PRIMARY KEY (id_evaluacion);


--
-- Name: grado grado_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.grado
    ADD CONSTRAINT grado_pkey PRIMARY KEY (id_grado);


--
-- Name: grupo grupo_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.grupo
    ADD CONSTRAINT grupo_pkey PRIMARY KEY (id_grupo);


--
-- Name: hoja_de_vida_estudiante hoja_de_vida_estudiante_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.hoja_de_vida_estudiante
    ADD CONSTRAINT hoja_de_vida_estudiante_pkey PRIMARY KEY (id_hoja_de_vida);


--
-- Name: logro logro_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.logro
    ADD CONSTRAINT logro_pkey PRIMARY KEY (id_logro);


--
-- Name: periodo_academico periodo_academico_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.periodo_academico
    ADD CONSTRAINT periodo_academico_pkey PRIMARY KEY (id_periodo_academico);


--
-- Name: profesor profesor_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.profesor
    ADD CONSTRAINT profesor_pkey PRIMARY KEY (id_usuario);


--
-- Name: token_usuario token_usuario_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.token_usuario
    ADD CONSTRAINT token_usuario_pkey PRIMARY KEY (id_token);


--
-- Name: coordinador uk_6ja83k1fq1ip1i4i5hoxd6rc6; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.coordinador
    ADD CONSTRAINT uk_6ja83k1fq1ip1i4i5hoxd6rc6 UNIQUE (id_coordinador);


--
-- Name: usuario uk_6lpw46du147baun4iyme6m6uk; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.usuario
    ADD CONSTRAINT uk_6lpw46du147baun4iyme6m6uk UNIQUE (cedula);


--
-- Name: profesor uk_6x2lm8hwxhg57abewi8oqyt0u; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.profesor
    ADD CONSTRAINT uk_6x2lm8hwxhg57abewi8oqyt0u UNIQUE (id_profesor);


--
-- Name: usuario uk_bp3l9gh2ksnndduoapilhcww; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.usuario
    ADD CONSTRAINT uk_bp3l9gh2ksnndduoapilhcww UNIQUE (id_token);


--
-- Name: estudiante uk_c8v30pbvy0ykokbxnlyn1j3n9; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.estudiante
    ADD CONSTRAINT uk_c8v30pbvy0ykokbxnlyn1j3n9 UNIQUE (id_hoja_de_vida);


--
-- Name: usuario uk_f7w2jekriedf7k6a4kaclt9t7; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.usuario
    ADD CONSTRAINT uk_f7w2jekriedf7k6a4kaclt9t7 UNIQUE (correo_electronico);


--
-- Name: acudiente uk_n4huw5m7q9pi7hbsgtt1j01jg; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.acudiente
    ADD CONSTRAINT uk_n4huw5m7q9pi7hbsgtt1j01jg UNIQUE (id_acudiente);


--
-- Name: administrador uk_p5ppx8llwtmbuisfa0jukd35g; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.administrador
    ADD CONSTRAINT uk_p5ppx8llwtmbuisfa0jukd35g UNIQUE (id_administrador);


--
-- Name: director uk_qo4sy7bty0h3adkdcxlc983ba; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.director
    ADD CONSTRAINT uk_qo4sy7bty0h3adkdcxlc983ba UNIQUE (id_director);


--
-- Name: estudiante uk_rs6nxl3fnxlosq7esh18x4db6; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.estudiante
    ADD CONSTRAINT uk_rs6nxl3fnxlosq7esh18x4db6 UNIQUE (numero_documento);


--
-- Name: usuario usuario_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.usuario
    ADD CONSTRAINT usuario_pkey PRIMARY KEY (id_usuario);


--
-- Name: acudiente fk2elx6d5nv7ik8mevxvhrqrhvl; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.acudiente
    ADD CONSTRAINT fk2elx6d5nv7ik8mevxvhrqrhvl FOREIGN KEY (id_usuario) REFERENCES public.usuario(id_usuario);


--
-- Name: boletin fk65r14ieul642vp1nuvxql6bto; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.boletin
    ADD CONSTRAINT fk65r14ieul642vp1nuvxql6bto FOREIGN KEY (id_periodo) REFERENCES public.periodo_academico(id_periodo_academico);


--
-- Name: logro fk6v83b2hiq1w3k6xwyexw0wohc; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.logro
    ADD CONSTRAINT fk6v83b2hiq1w3k6xwyexw0wohc FOREIGN KEY (id_categoria) REFERENCES public.categoria_logro(id_categoria);


--
-- Name: coordinador fk9vtx56fh8umalipoykocg42l3; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.coordinador
    ADD CONSTRAINT fk9vtx56fh8umalipoykocg42l3 FOREIGN KEY (id_usuario) REFERENCES public.usuario(id_usuario);


--
-- Name: director fkaw2dqro93wv73sne6o7wcdk00; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.director
    ADD CONSTRAINT fkaw2dqro93wv73sne6o7wcdk00 FOREIGN KEY (id_usuario) REFERENCES public.usuario(id_usuario);


--
-- Name: profesor fkbyhq45hsgy32alfydfpypqctp; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.profesor
    ADD CONSTRAINT fkbyhq45hsgy32alfydfpypqctp FOREIGN KEY (id_usuario) REFERENCES public.usuario(id_usuario);


--
-- Name: boletin fkeqki02xh9ruipfk5i6coesawq; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.boletin
    ADD CONSTRAINT fkeqki02xh9ruipfk5i6coesawq FOREIGN KEY (id_estudiante) REFERENCES public.estudiante(id_estudiante);


--
-- Name: usuario fkf507lxt1jhrj6vvc85d4k922h; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.usuario
    ADD CONSTRAINT fkf507lxt1jhrj6vvc85d4k922h FOREIGN KEY (id_token) REFERENCES public.token_usuario(id_token);


--
-- Name: grupo fkfihtajftb8pih2qrmt56no9kc; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.grupo
    ADD CONSTRAINT fkfihtajftb8pih2qrmt56no9kc FOREIGN KEY (id_director_grupo) REFERENCES public.profesor(id_usuario);


--
-- Name: evaluacion_categoria_logro fkgr532tvi5w936rngpcxhacx2f; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.evaluacion_categoria_logro
    ADD CONSTRAINT fkgr532tvi5w936rngpcxhacx2f FOREIGN KEY (id_boletin) REFERENCES public.boletin(id_boletin);


--
-- Name: evaluacion_categoria_logro fkhljob994pqkismbg1b70oi0hv; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.evaluacion_categoria_logro
    ADD CONSTRAINT fkhljob994pqkismbg1b70oi0hv FOREIGN KEY (id_periodo) REFERENCES public.periodo_academico(id_periodo_academico);


--
-- Name: grupo fkkdpgkdv8ra9mp3qr5cr8q18o7; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.grupo
    ADD CONSTRAINT fkkdpgkdv8ra9mp3qr5cr8q18o7 FOREIGN KEY (id_grado) REFERENCES public.grado(id_grado);


--
-- Name: estudiante fkltmy4iie8gq58pg8myekq28q7; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.estudiante
    ADD CONSTRAINT fkltmy4iie8gq58pg8myekq28q7 FOREIGN KEY (id_hoja_de_vida) REFERENCES public.hoja_de_vida_estudiante(id_hoja_de_vida);


--
-- Name: administrador fkpt2bj0l5q4npigarogy7p1834; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.administrador
    ADD CONSTRAINT fkpt2bj0l5q4npigarogy7p1834 FOREIGN KEY (id_usuario) REFERENCES public.usuario(id_usuario);


--
-- Name: estudiante fkqq8lv9nv43xds6cjcklvynd8o; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.estudiante
    ADD CONSTRAINT fkqq8lv9nv43xds6cjcklvynd8o FOREIGN KEY (id_acudiente) REFERENCES public.acudiente(id_usuario);


--
-- Name: estudiante fkrm73iy7itfx2xt511k7ai1lbk; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.estudiante
    ADD CONSTRAINT fkrm73iy7itfx2xt511k7ai1lbk FOREIGN KEY (id_grupo) REFERENCES public.grupo(id_grupo);


--
-- Name: categoria_logro fksn4ysqserhlr37loaryuqpduf; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.categoria_logro
    ADD CONSTRAINT fksn4ysqserhlr37loaryuqpduf FOREIGN KEY (id_grado) REFERENCES public.grado(id_grado);


--
-- Name: evaluacion_categoria_logro fkt3ovquorisae1x35nawlpaph7; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.evaluacion_categoria_logro
    ADD CONSTRAINT fkt3ovquorisae1x35nawlpaph7 FOREIGN KEY (id_categoria) REFERENCES public.categoria_logro(id_categoria);


--
-- PostgreSQL database dump complete
--

\unrestrict X2j5LjIdpB6yhRmLF2mmVm2xfQr7pADgvu8d9BLOKTGXvdkrgW1WoIBUgFcC2qY

