server:
  port: 8080
  servlet:
    context-path: /api

spring:
  application:
    name: sga-backend
  
  datasource:
    url: jdbc:postgresql://localhost:5432/sga_db
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
  
  sql:
    init:
      mode: always
      data-locations: classpath:data-init.sql
      continue-on-error: true

jwt:
  secret: 404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970337336763979244226452948404D635166546A576E5A7234753778214125442A
  expiration: 86400000

logging:
  level:
    com.sga: DEBUG
    org.springframework.security: DEBUG
